<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <h2>Zum Kurs anmelden!</h2>
  <!--<input placeholder="Name" type="input" formControlName="name" 
    [ngClass]="{'is-invalid': !this.signupForm.get('name') && this.signupForm.get('name')?.touched}"/><br />
  <input placeholder="Geburtsdatum" type="date" formControlName="birthdate" /><br />
  <select formControlName="courses">
    <option value="" disabled>Bitte auswählen</option>
    @for (course of courses; track $index) {
    <option [ngValue]="course.id">{{ course.name }}</option>
    }
  </select>
  <br/>
  <input placeholder="Email" type="email" formControlName="email" /><br />
  <input type="checkbox" formControlName="newsletter"/>  
  <label for="newsletter">Newsletter abonnieren</label>
  <br>


  <button type="submit" [disabled]="!this.signupForm.valid">Erfassen</button>-->

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" type="text" formControlName="name">
    @if(this.signupForm.get('name')?.hasError('required')) {
      <mat-error>Name is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Geburtsdatum</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthdate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    @if (this.signupForm.get('birthdate')?.hasError('required')) {
      <mat-error>Geburtsdatum is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" type="email" formControlName="email">
    @if (this.signupForm.get('email')?.hasError('email') && !this.signupForm.get('email')?.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
    }
    @if (this.signupForm.get('email')?.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
    }
  </mat-form-field>
  <br>

  <mat-form-field>
    <mat-label>Kurs auswählen</mat-label>
    <mat-select formControlName="selectedCourse">
      
        @for (course of courses; track $index) {
          <mat-option [value]="course.id"> {{ course.name }} </mat-option>
        }
      
    </mat-select>
  </mat-form-field>
  <br>

  <mat-checkbox formControlName="newsletter">Newsletter abonnieren</mat-checkbox>
  <br>

  <button matButton="filled" type="submit" [disabled]="!this.signupForm.valid">Erfassen</button>
</form>
